@tailwind base;
@tailwind components;
@tailwind utilities;

html.light {
  @apply bg-gray-50 text-gray-800; /* Fundo claro pastel */
}

html.dark {
  --bg-color: #1a202c; /* Fundo escuro */
  --text-color: #f3f4f6; /* Texto claro */
}

html {
  --bg-color: #ffffff; /* Fundo claro */
  --text-color: #1a202c; /* Texto escuro */
}

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
/* Layout geral */
.main-layout {
  @apply min-h-screen flex flex-col;
}

.wrapped-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.header-layout {
  @apply fixed top-0 w-full z-20;
}

.content-layout {
  @apply flex flex-1;
}

.main-content {
  @apply flex-1 p-6 sm:p-8;
}

/* Sidebar estilos gerais */
.sidebar {
  @apply bg-white dark:bg-gray-800 shadow-lg fixed top-0 left-0 h-full md:relative md:translate-x-0 md:w-[15%] rounded-[10px];
}

.sidebar-link {
  @apply block text-blue-400 dark:text-blue-300 hover:text-blue-500 dark:hover:text-blue-400 transition;
}/* Desktop: Sidebar posicionada corretamente */
@media (min-width: 768px) {
  .sidebar {
    @apply relative top-[2em] w-[25em] h-[calc(95vh)] transition-all;
  }
}
/* Mobile Sidebar */
@media (max-width: 767px) {
  .sidebar {
    @apply absolute left-[284px] w-[35vh] h-full transform -translate-x-full transition-transform duration-300 ease-in-out bg-white dark:bg-gray-800 shadow-lg z-20;
  }
}

/* Cards */
.card {
  @apply bg-white dark:bg-gray-800 rounded-lg shadow-md p-6 sm:p-8 transition-transform hover:shadow-lg relative border border-gray-200 dark:border-gray-700;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona sombra superior e inferior */
}

/* Card Container */
.card-container {
  @apply absolute top-[7vh] left-[15%] w-[85%] z-10;
}

.summary-card {
  @apply h-[10vh];
}

/* Grids */
.grid {
  @apply gap-12;
}

.card-h {
  @apply h-[37vh];
}

.screen-dashboard {
  @apply h-[93vh]
}

@media (max-width: 767px) {
  .card-container {
    @apply fixed top-[18vh] left-[6%] w-[86%] z-10;
  }
  .summary-card {
    @apply h-[15vh];
  }
  .grid {
    @apply gap-6;
  }

  .card-h {
    @apply h-[57vh];
  }

  .screen-dashboard {
   @apply h-[81vh];
  }
}

/* Gráficos */
.card-pie {
  @apply w-full;
}

.chart-label {
  @apply font-medium text-sm;
}

.chart-color-alimentacao {
  background-color: #f8b4b4; /* Rosa pastel */
}

.chart-color-transporte {
  background-color: #a3d9a5; /* Verde pastel */
}

.chart-color-lazer {
  background-color: #f9e79f; /* Amarelo pastel */
}

.chart-color-saude {
  background-color: #afcdea; /* Azul pastel */
}

.chart-color-educacao {
  background-color: #c8a2c8; /* Roxo pastel */
}

/* Header */
.header {
  @apply fixed top-0 w-full min-h-[15%] bg-gradient-to-r from-blue-300 to-blue-400 dark:from-gray-800 dark:to-gray-700 text-white flex items-center justify-between px-8 shadow-md;
}

.header-title {
  @apply text-4xl mt-[-5vh] font-bold ml-[15%];
}

@media (max-width: 767px) {
  .header-title {
    @apply mt-[-3vh];
  }
}

/* Botões */

.theme-button {
  @apply mt-[-6vh];
}
.button {
  @apply px-4 py-2 rounded-lg text-white font-medium transition-all duration-200;
}

.button-secondary {
  @apply bg-gray-700 hover:bg-gray-600 dark:bg-gray-800 dark:hover:bg-gray-700;
}

.button-gradient {
  @apply px-6 py-2 rounded-lg font-medium text-white cursor-pointer transition-all duration-300;
  background: linear-gradient(to right, #afcdea, #9cd6da); /* Gradiente claro */
}

.button-gradient:hover {
  @apply shadow-md;
  background: linear-gradient(to right, #9cd6da, #afcdea); /* Gradiente no hover */
}

html.dark .button-gradient {
  background: linear-gradient(to right, #6d92c2, #4584eb); /* Gradiente escuro */
}

html.dark .button-gradient:hover {
  background: linear-gradient(to right, #4584eb, #6d92c2); /* Gradiente escuro no hover */
}
